/* za mobilen ekran */

@media screen and (max-width: 767px) { 
    .name{
        font-size: 13px;
    color: rgb(189, 189, 2);
    }  
}

/* za tablet ekran */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .name{
        font-size: 18px;
        color: green;
    }  
} 

/* za desktop ekran */

@media screen and (min-width: 991px) {
    .name{
        font-size: 22px;
      color: red;
    } 
}